# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
cache/*
!cache/.gitkeep
*.db
cache/*.rda

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Old files
data_in/old/
data_out/content/old/
src/R/old/

# Generated data
data_out/*.txt
data_out/*.xlsx
data_out/content/*.txt
data_out/content/*.txt
data_out/backend/taxa/config/*.yaml
data_in/norcca_strains.txt
data_in/used_aphia_id_list.txt

# API keys
src/R/algaebase_subscription_key.R
src/R/dyntaxa_subscription_key.R

# Update history
update_history/*.zip